# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore
obj/
bin/
App_Data/
.vs/
.DS_Store

#Ionic Project 
node_modules/
platforms/
plugins/
www/
google-services/
.sourcemaps
/.gitattributes
/src/DTOs
/src/Controllers/PromotionRuleEngineeController.cs
/src/Infrastructure/Interfaces
/src/Models
/src/Infrastructure/Services
/test/PromoRuleTests.cs
